<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    <form th:action="@{/signin}" method="post">
        <div>
            <label for="username">ユーザー名</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="mfa">ワンタイムパスコードを入力(設定している場合)</label>
            <input type="text" id="mfa" name="mfa">
        </div>
        <div>
            <button type="submit">ログイン</button>
        </div>
        <div>
            <!-- エラーメッセージを条件分岐 -->
            <p th:if="${error == 'bad-credentials'}" style="color: red;">ログイン情報が正しくありません。</p>
            <p th:if="${error == 'unknown'}" style="color: red;">ログインに失敗しました。</p>
            <p th:if="${error == 'account-locked'}" style="color: red;">アカウントがロックされています。</p>
            <p th:if="${logout}" style="color: green;">ログアウトしました。</p>
            <p th:if="${register}" style="color: green;">アカウント登録に成功しました。</p>
        </div>
        <div>
            <a th:href="@{/register}">新規登録</a>
        </div>
    </form>
</body>
</html>
